.chat-main
  .main-header
    .main-header__group-info
      .main-header__group-info__group-name
        gassys
      .main-header__group-info__member-list
        member : gassy gagagassy
    .main-header__edit-btn
      =link_to "#" do
        Edit
  .chat-room
    .messages
      .messeages__user-name
      .messeages__date
      .messeages__messeage
  .form
    .input-form
      .input-form__input-box
      .input-form__edit-img
    .submit