.chat-side
  .side-header
    .side-header__top-item
      .side-header__top-item__user-name
        GASSY
      .side-header__top-item__icons
        = link_to "#", class: "side-header__top-item__edit" do
          = icon('fas', 'edit',class: "side-header__top-item__icons__edit--btn")
        = link_to "#", class: "side-header__top-item__icons__setting" do
          = icon('fas', 'cog',class: "side-header__top-item__icons__setting--btn")
  .group-list
    .group
      .group__group-name
        gassys
      .group__new-messeage
        no message

    .group2
      .group__group-name
        gassys2
      .group__new-messeage
        no message2