.chat-side
  .side-header
    .side-header__top-item
      .side-header__top-item__user-name
        GASSY
      .side-header__top-item__icons
        = link_to "#", class: "side-header__top-item__edit" do
          = icon('fas', 'edit',class: "side-header__top-item__icons__edit--btn")
        = link_to "#", class: "side-header__top-item__icons__setting" do
          = icon('fas', 'cog',class: "side-header__top-item__icons__setting--btn")
  .group-list
    .group-list__group-name
    .group-list__new-message