$sky-blue: #38aef0;
$right-gray: #434A54;

.chat-main{
  width: calc(100vw - 300px);
  float: left;
  .main-header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;
    &__left-box{
      margin-top : 35px;
      &__current-group{
        font-size: 20px;
        color: #333333;
        margin-bottom : 15px;
      }
      ul{
        display: flex;
        font-size: 12px;
        color: #999999;
        li{
        }
      }
    }
    a{
      color: $sky-blue;
      text-decoration: none;
    }
      &__edit-btn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px $sky-blue;
        position: absolute;
        right: 40px;
      }
  }
  .messages{
    height: calc(100vh - 287px);
    background-color: #fafafa;
    padding: 46px 40px;
    .message{
      padding-top: 40px;
      .information{
        display: flex;
        &__user-name{
          color: $right-gray;
          font-size:16px;
          font-weight: bold;
        }
        &__upload-date{
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .chat__message{
        color:$right-gray;
        font-size: 14px;
        padding-top: 10px;
      }
    }
  }
  .form{
    padding: 20px 40px;
    background-color: #ddd;
    .input-box{
      width: 100%;
      display: flex;
      align-items: center;
      &__text{
        width: 100%;
        position: relative;
        height: 50px;
        padding: 0 40px 0 10px;
        font-size:16px;
        color: $right-gray;
        &__image{
          position: absolute;
          right: 170px;
          i{
            display: inline-block;
            font-size: 25px;
          }
          &--edit{
            display: none;
          }
        }
      }    
      .submit-btn{
        height: 50px;
        width: 100px;
        padding:0 30px;
        margin-left: 15px;
        background-color: $sky-blue;
        color: white;
      }
    }
  }
}